<header id="l-header">
    <div id="l-constrained">
        <nav>
            <div class="logo">
                <h1>Examen</h1>
            </div>
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
            </ul>
        </nav>
    </div>
</header>